h1, a {
    display: block;
}

h1 {
    font-size: 2rem;
    font-family: 'Dancing Script';
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2.5rem;
    border: 2px solid rgba(240, 134, 175, 0.7);
    width: 100%;
    background-color: rgba(240, 134, 175, 0.7);
}

button {
    background-color: rgba(255, 18, 109, 0.7);
    border: none;
    color: rgba(255, 222, 225, 1);
    font-family: 'Dancing Script';
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
        background-color: rgba(218, 35, 147, 0.7);
        color: white;
    }
}
