header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background: rgb(240, 134, 175);
    background: linear-gradient(90deg, rgba(240, 134, 175, 1) 0%, rgba(255, 18, 109, 1) 35%, rgba(255, 222, 225, 1) 100%);
}

header h1 {
    color: rgba(255, 222, 225, 1);
    margin: 1rem;
    font-family: 'Dancing Script';
    padding-left: 2rem;
}

header div {
    width: 25%;
    margin: 1rem;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 2rem;
}

a:hover {
    background-color: rgba(255, 18, 109, 1);
    border-radius: 1rem;
    cursor: pointer; 
}
.navbar{
    background: linear-gradient(90deg, rgba(240, 134, 175, 1) 0%, rgba(255, 18, 109, 1) 35%, rgba(255, 222, 225, 1) 100%);
}

  
